<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="dc-withlove.ZPM">
    <Module>
      <Name>dc-withlove</Name>
      <Version>0.0.15</Version>
      <Description></Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.withLove.PKG"/>
      <WebApplication 
        Name="/withlove/api" 
        NameSpace="{$namespace}"
        Path="/src"
        Recurse="1"
        Directory="{$cspdir}/csp/withlove/api" 
        MatchRoles=":%All"
        AutheEnabled="#{$$$AutheCache + $$$AutheUnauthenticated}"
        DispatchClass="dc.withLove.service.Dispatch" 
        ServeFiles="1"
        CookiePath="/csp/withlove/api"
        UseCookies="2"
      />

      <WebApplication 
        Name="/withlove/services" 
        NameSpace="{$namespace}"
        DispatchClass="dc.withLove.service.RestRouter"
        MatchRoles=":%All"
        AutheEnabled="#{$$$AutheCache + $$$AutheUnauthenticated}"
        ServeFiles="1"
        CookiePath="/csp/withlove/services"
      />

      <WebApplication 
        Name="/withlove"
        Url="/withlove"
        NameSpace="${namespace}"
        Description="Frontend With Love"
        Path="{$cspdir}/withlove" 
        
        ServeFiles="2"
        Recurse="1"
        ServeFilesTimeout="3600"
        
        CookiePath="/withlove/"
        UseSessionCookie="2"
        DefaultTimeout="900"
        
        MatchRoles=":${globalsDbRole}"
        AutheEnabled="#{$$$AutheUnauthenticated}"
      />
    </Module>
  </Document>
</Export>
